.year-xps {
  max-width: 100%;

  // For some reason this is required to enable the scrollbar on the overflow of table-container
  overflow-x: hidden;

  grid-area: year-x;

  div.table-container {
    max-width: 100%;
    overflow-x: auto;

    table {
      $td-width: 30px;
      $month-padding: 2px;
      $month-width: 40px + $month-padding;

      table-layout: fixed;
      border-spacing: 0;
      border-collapse: collapse;
      width: $month-width + (31 * $td-width);

      th, td {
        width: $td-width;
        text-align: center;

        &:first-child {
          font-weight: bold;
          text-align: right;
          width: $month-width;
          padding-right: $month-padding;
        }
      }
    }
  }
}
